body {
    margin: 0;
    padding: 16px;
    height: 100vh;
    background: #ffc0cb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}

.front_img {
    width: 350px; /* Tamanho reduzido */
    margin: 0 auto;
    margin-top: 60px;
    position: absolute; /* Alterado para absolute */
    top: 60px; /* Ajuste a posição superior conforme necessário */
    left: 50%; /* Centraliza a imagem horizontalmente */
    transform: translateX(-50%); /* Centraliza a imagem horizontalmente */
}

.inside_img {
    width: 350px; /* Tamanho reduzido */
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}

.front_card, .inside_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 20px auto; /* Margem reduzida */
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 360px; /* Tamanho reduzido */
    height: 580px; /* Tamanho reduzido */
}

.inside_card {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.valentines_card:hover .front_card {
    transform: rotateY(-160deg); 
}

.valentines_card:hover .front_text {
    display: none;
}

.front_text {
    color: #A60657;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px; /* Fonte reduzida */
    margin-top: 500px; /* Ajuste conforme necessário */
}

.inside_text {
    color: #A60657;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px; /* Fonte reduzida */
    /* Remove o margin-top para que o texto inside permaneça como estava */
}

.valentines_card audio {
    display: none;
}

.valentines_card:hover .front_img {
    display: none;
}

.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}

.additional_image {
    position: absolute;
    left: 119px; /* Move far to the left */
    top: 17%;
    transform: translateY(-40%);
    width: 170px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px; /* Arredonda as bordas */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.9); /* Adiciona sombra */
    border: 4px solid #ffc0cb; /* Adiciona uma borda colorida */
}

.valentines_card:hover .additional_image {
    opacity: 0; /* Hide image on hover */
}

@media (max-width: 480px) {
    .front_card, .inside_card {
        width: 331px; /* Tamanho ajustado para telas menores */
        height: 620px; /* Tamanho ajustado para telas menores */
    }

    .front_img {
        margin-top: 100px; /* Aumenta o margin-top para descer a imagem */
    }

      .additional_image {
        left: 100px; /* Move far to the left */
    }
}
