body {
    margin: 0;
    padding: 16px;
    height: 100vh;
    background: #ffc0cb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}

.front_img {
    width: 350px; 
    margin: 0 auto;
    margin-top: 60px;
    position: absolute; 
    top: 60px; 
    left: 50%;
    transform: translateX(-50%); 
}

.inside_img {
    width: 350px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}

.front_card, .inside_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 20px auto; 
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 360px; 
    height: 580px; 
}

.inside_card {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.valentines_card:hover .front_card {
    transform: rotateY(-160deg); 
}

.valentines_card:hover .front_text {
    display: none;
}

.front_text {
    color: #A60657;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px;
    margin-top: 500px; /
}

.inside_text {
    color: #A60657;
    font-family: 'Brush Script MT', cursive;
    font-size: 24px; 
}

.valentines_card audio {
    display: none;
}

.valentines_card:hover .front_img {
    display: none;
}

.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}

.additional_image {
    position: absolute;
    left: 119px; 
    top: 17%;
    transform: translateY(-40%);
    width: 150px; 
    height: auto; 
    border-radius: 15px; 
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.9); 
    border: 2px solid #ffc0cb; 
}

.valentines_card:hover .additional_image {
    opacity: 0; 
}

@media (max-width: 480px) {
    .front_card, .inside_card {
        width: 331px;
        height: 620px; 
    }

    .front_img {
        margin-top: 100px; /* Aumenta o margin-top para descer a imagem */
    }
}
