body {
    margin: 0;
    height: 100vh;
    background: #ffc0cb;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}

.front_img {
    width: 380px;
    margin: 0 auto;
    margin-top: 60px;
    position: absolute; 
    top: 80px; 
    left: 50%; 
    transform: translateX(-50%);
}

.inside_img {
    width: 300px; 
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.front_card, .inside_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 20px auto;
    padding: 16px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 360px; 
    height: 600px; 
}

.inside_card {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.valentines_card:hover .front_card {
    transform: rotateY(-160deg); 
}

.valentines_card:hover .front_text {
    display: none;
}

.front_text {
    color: #A60657;
    font-size: 20px; 
    margin-top: 485px; 
}

.inside_text {
    color: #A60657;
    font-size: 19px; 
}

.valentines_card audio {
    display: none;
}

.valentines_card:hover .front_img {
    display: none;
}

.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}

.additional_image {
    position: absolute;
    left: 119px;
    top: 17%;
    transform: translateY(-40%);
    width: 150px;
    height: auto; 
    border-radius: 16px; 
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.9); 
    object-fit: cover; 
}

.valentines_card:hover .additional_image {
    opacity: 0; 
}

@media (max-width: 480px) {
    .front_img {
        width: 280px;
        top: 50px; 
    }

    .inside_img {
        width: 220px; 
        margin-top: 40px;
    }

    .front_card, .inside_card {
        width: 300px; 
        height: 500px; 
    }

    .front_text {
        font-size: 20px; 
        margin-top: 420px; 
    }

    .inside_text {
        font-size: 18px; 
    }

    .inside_card audio {
        margin-left: 30px; 
        margin-right: 20px;
    }

    .additional_image {
        left: 100px;
        width: 130px;
    }
}
